body {
    background: url("./image/bg.jpg");
}


.brown-sugar { 
    color: brown;
    font-family: Arial;
}


    #table-yuk {
       margin-top: 20px;
       margin-left: 0px;
       margin-bottom: 20px;
       margin-right: 100px;
    background-color: aqua;
    padding: 20px;
}

#box-head {
    margin: 10px auto;
    width: 900px;
    background-color: floralwhite;
    padding: 20px;
    display: block;
}

#box-body {
    margin-top: 10px;
    width: 900px;
    background-color: beige;
    display: inline;
}

.box {
    width: 400px;
    background-color: hotpink;
    display: inline;
    float: left;
    margin-right: 10px;
    margin: 10px auto;
    padding: 50px;
}
div a  { 
    color: black;
}

div a:hover { 
    color: red;
}